<app-navbar></app-navbar> 
  <div class="frontpage-top-post">
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-1">1</div>
      <div class="col-lg-7">
        <h1>How to make your resume stand out according to three recruiters</h1>
        <p>Lorem ipsum dolor sit amet, qui ei inciderint efficiantur, soleat adipisci his no, eum ex sonet nonumes. No qui stet homero vocibus, numquam intellegam mei at. Per sint interpretaris at, eam cu meis nominati. Id fabulas suavitate vix.

          Sit in iusto bonorum volutpat, an labores legimus accusam sit. Vel cu suas docendi, ei liber omittantur ius. Dicta platonem erroribus per ad, utamur ancillae eligendi nam ne. Vix ex aeterno minimum quaerendum, ea per agam sonet intellegat.
          
          At scripta percipit praesent ius, pro ridens propriae assentior in. Vitae deserunt comprehensam pro ad, pri everti aliquid maiorum in. Quem harum ea eam. Id vis impetus maiestatis, vis ei delectus moderatius. Duo in cibo labitur volutpat.
          
          Purto sensibus no sit, nullam eloquentiam sea at. Et erant invenire repudiandae duo, doming argumentum ei vim. Nec ut tation deseruisse, quot vidisse cu eam, ut paulo torquatos eam. Mei esse feugiat apeirian ea, dolore nostro veritus usu no. Eruditi pertinacia scripserit an sit, in cum quis iisque. Eu modo deserunt recteque eam.
          
          Nobis persius eos te, ut posidonium definitiones qui, mel in error aliquam mentitum. In enim erat nostrud qui, pro congue veniam quaestio ut. In menandri scripserit eos, at vel omnis partiendo. Eos ad dico eirmod detraxit. Ius prima philosophia ne.
          
          Ius eu corpora deserunt prodesset, ei solet legimus civibus per, placerat dissentiunt pri te. Mei ei semper insolens, ei eos case sadipscing. Nec ea quot mucius aliquid, pro vide saepe ne, ei choro soleat cum. Laudem constituam nec ad, ne mei semper patrioque.
          
          Tollit nostrud mnesarchum et ius. Veri aperiri no ius, ubique mollis elaboraret ut qui. Definiebas efficiantur et per, sea urbanitas consectetuer at. Vero reprimique an nam.
          
          Facete phaedrum imperdiet est ne, nec nihil choro interpretaris ne. Te feugiat offendit usu, nulla maiorum assueverit quo an. Usu no illud reformidans. Vel ut malis argumentum dissentiunt, no est tempor efficiendi. Solum oportere vel ne, quo atqui honestatis et. Mei eu fuisset consetetur accommodare, has ea solum recteque. Eripuit sanctus scaevola sea ea.
          
          Ea nam eius argumentum, ancillae gloriatur mei te. Ne ornatus pertinax pri. Saepe blandit commune ex sit, ea usu scripta legendos. Ei sit case diceret commune. Ad autem civibus hendrerit nam, in nec appellantur philosophia, te vim augue decore iudicabit. Volutpat imperdiet aliquando at eum, ullum accusam ius ne, integre signiferumque ne eos.
          
          Molestie theophrastus sed eu. Idque fabellas vim in, no aliquid indoctum argumentum duo. Dolorem appareat ad sed, ex alia solum est. Ut habeo blandit nam, gloriatur scriptorem ne his, ius ei consul molestie. Vocibus voluptaria interpretaris cu has, dicat scripta convenire nec in. Quo quot civibus et, vix an illud suavitate interpretaris. Mea dicunt delenit adipiscing ei, et qui autem malis omittam.
          
          Vero laoreet est te. His at timeam nominavi, id sea euismod bonorum salutatus. Probo consul graeco cu pri, eirmod feugait nam cu. Ex vocent inermis eum, eirmod hendrerit et per. At movet omnes facilis quo.
          
          At vel quando soleat. Et quo audiam maiorum evertitur. Ridens discere aliquam nam eu, an duo atqui legere consetetur. Probo debitis elaboraret et quo, id munere nostrum sensibus eos, in duo alterum intellegam. Ex mea choro scripta molestiae, sale deserunt mel id.
          
          Bonorum voluptaria ei eam, docendi patrioque mediocritatem eu eum. Quo in elit efficiendi interpretaris. Persius dolorem vel id. Falli erant eleifend ut vis, mel et veri discere impedit, mutat aeque inimicus eos ut. Mundi putant propriae his ad. Eam ut wisi ferri.</p>
      </div>
      <div class="col-lg-4">
        <h6>Latest posts</h6>
        <div class="row mt-3">
          <div class="col-lg-4">
            <img class="blog-image-1" src="../assets/images/homepage-resume1.jpg" height="80" width="100" alt="">
          </div>
          <div class="col-lg-8">
            <p>How I decide when to leave or stay in a job</p>
          </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4">
              <img class="blog-image-1" src="../assets/images/homepage-resume1.jpg" height="80" width="100" alt="">
            </div>
            <div class="col-lg-8">
              <p>3 steps to write a killer eCommerce Resume</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4">
              <img class="blog-image-1" src="../assets/images/homepage-resume1.jpg" height="80" width="100" alt="">
            </div>
            <div class="col-lg-8">
              <p>Successful Resumes - real resumes that got people hired at top companies</p>
            </div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
