<app-navbar2></app-navbar2>
<div class="container">
  <section>
    <div class="row mt-3 mt-5">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <a href="#">
        <div class="divider">
          <div class="row">
            <div class="col-lg-2">
              <img src="../assets/images/bookmark-alt-flat.png" height="100" width="100" alt="">              
            </div>
            <div class="col-lg-10">
              <h5>Getting started with your resume</h5>
              <h6>Real advice from the Enhancv Customer Success team on editing your resume for success</h6>
              <div class="row mt-3">
                <div class="col-lg-1">
                  <img class="faq-image-1" src="../assets/images/XpgonN0X_400x400.jpg">
                </div>
                <div class="col-lg-11">
                  <h6 class="ml--15 fs-12">22 articles in this collection</h6>
                  <h6 class="ml--15 fs-12">Written by Bill Gates</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="row mt-3 mt-5">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <a href="#">
          <div class="divider">
            <div class="row">
              <div class="col-lg-2">
                <img src="../assets/images/bookmark-alt-flat.png" height="100" width="100" alt="">              
              </div>
              <div class="col-lg-10">
                <h5>Getting started with your resume</h5>
                <h6>Real advice from the Enhancv Customer Success team on editing your resume for success</h6>
                <div class="row mt-3">
                  <div class="col-lg-1">
                    <img class="faq-image-1" src="../assets/images/XpgonN0X_400x400.jpg">
                  </div>
                  <div class="col-lg-11">
                    <h6 class="ml--15 fs-12">22 articles in this collection</h6>
                    <h6 class="ml--15 fs-12">Written by Bill Gates</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
        <div class="col-lg-1"></div>
      </div>
    <div class="row mt-3 mt-5">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <a href="#">
          <div class="divider">
            <div class="row">
              <div class="col-lg-2">
                <img src="../assets/images/bookmark-alt-flat.png" height="100" width="100" alt="">              
              </div>
              <div class="col-lg-10">
                <h5>Getting started with your resume</h5>
                <h6>Real advice from the Enhancv Customer Success team on editing your resume for success</h6>
                <div class="row mt-3">
                  <div class="col-lg-1">
                    <img class="faq-image-1" src="../assets/images/XpgonN0X_400x400.jpg">
                  </div>
                  <div class="col-lg-11">
                    <h6 class="ml--15 fs-12">22 articles in this collection</h6>
                    <h6 class="ml--15 fs-12">Written by Bill Gates</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
        <div class="col-lg-1"></div>
      </div>
    <div class="row mt-3 mb-5">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <a href="#">
          <div class="divider">
            <div class="row">
              <div class="col-lg-2">
                <img src="../assets/images/bookmark-alt-flat.png" height="100" width="100" alt="">              
              </div>
              <div class="col-lg-10">
                <h5>Getting started with your resume</h5>
                <h6>Real advice from the Enhancv Customer Success team on editing your resume for success</h6>
                <div class="row mt-3">
                  <div class="col-lg-1">
                    <img class="faq-image-1" src="../assets/images/XpgonN0X_400x400.jpg">
                  </div>
                  <div class="col-lg-11">
                    <h6 class="ml--15 fs-12">22 articles in this collection</h6>
                    <h6 class="ml--15 fs-12">Written by Bill Gates</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
        <div class="col-lg-1"></div>
      </div>
  </section>
</div>
