.mb-1{
    margin-bottom: 8px;
}
.mb-5{
    margin-bottom: 40px;
}
.mb-6{
    margin-bottom: 48px;
}
.mb-12{
    margin-bottom: 96px;
}
.mt-6{
    margin-top: 48px;
}
.mt-12{
    margin-top: 96px;
}

.feature-link {
    color: #8c7cdb;
    text-decoration: none;
    font-weight: 600;
}

.sub-title {
    font-size: 18px;
    color: #65696d;
    margin-bottom: 8px;
}