.editable-container.basic.active{
    background-color: #866c87 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}

p{
    font-size: 12px;
}
.skills {
  div {
      
   
  }
}
