<app-navbar></app-navbar>  
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-6">
        <h1 class="success-resume-header-1">Resume examples that get people like you hired</h1>
        <h4 class="success-resume-sub-1">Get inspired and learn from these real life examples</h4>
      </div>
      <div class="col-lg-6"></div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <img class="success-resume-image-1" src="../assets/images/image-1.png" alt="">
      </div>
      <div class="col-lg-6">
        <h1 class="success-resume-header-2">From investment banking to Spotify - Sam's career change</h1>
        <h4 class="success-resume-sub-2">It took a lot of planning, hard work, and an amazing resume to get Sam her dream job at Spotify. We break down how she did it step by step.</h4>
        <p class="success-resume-sub-3">Hired at <span><img class="success-resume-image-2" src="assets/images/Spotify.png"></span> | IT, Senior, Operations</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 px-2 text-center">
        <ul>
          <li class="success-resume-item-1">IT and Tech</li>
          <li class="success-resume-item-1">Marketing</li>
          <li class="success-resume-item-1">Sales</li>
          <li class="success-resume-item-1">Students and Volunteering</li>
          <li class="success-resume-item-1">Business and Management</li>
          <li class="success-resume-item-1">Customer Support</li>
          <li class="success-resume-item-1">Accounting and Finance</li>
          <li class="success-resume-item-1">Engineering</li>
          <li class="success-resume-item-1">Medicine</li>
        </ul>
      </div>
      <div class="col-lg-2"></div>
    </div>
      <div class="row mt-5">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="success-resume-layout-1">
              <img class="success-resume-image-3" src="../assets/images/XpgonN0X_400x400.jpg">
              <p class="success-resume-header-3">Lorem Ipsump</p>
              <span class="success-resume-span-1">Lorem Ipsump</span><br>
              <label class="success-resume-sub-4">Hired at</label><br>
              <img class="success-resume-image-4" src="../assets/images/Spotify.png">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="success-resume-layout-1">
              <img class="success-resume-image-3" src="../assets/images/XpgonN0X_400x400.jpg">
              <p class="success-resume-header-3">Lorem Ipsump</p>
              <span class="success-resume-span-1">Lorem Ipsump</span><br>
              <label class="success-resume-sub-4">Hired at</label><br>
              <img class="success-resume-image-4" src="../assets/images/Spotify.png">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="success-resume-layout-1">
              <img class="success-resume-image-3" src="../assets/images/XpgonN0X_400x400.jpg">
              <p class="success-resume-header-3">Lorem Ipsump</p>
              <span class="success-resume-span-1">Lorem Ipsump</span><br>
              <label class="success-resume-sub-4">Hired at</label><br>
              <img class="success-resume-image-4" src="../assets/images/Spotify.png">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="success-resume-layout-1">
              <img class="success-resume-image-3" src="../assets/images/XpgonN0X_400x400.jpg">
              <p class="success-resume-header-3">Lorem Ipsump</p>
              <span class="success-resume-span-1">Lorem Ipsump</span><br>
              <label class="success-resume-sub-4">Hired at</label><br>
              <img class="success-resume-image-4" src="../assets/images/Spotify.png">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="success-resume-layout-1">
              <img class="success-resume-image-3" src="../assets/images/XpgonN0X_400x400.jpg">
              <p class="success-resume-header-3">Lorem Ipsump</p>
              <span class="success-resume-span-1">Lorem Ipsump</span><br>
              <label class="success-resume-sub-4">Hired at</label><br>
              <img class="success-resume-image-4" src="../assets/images/Spotify.png">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="success-resume-layout-1">
              <img class="success-resume-image-3" src="../assets/images/XpgonN0X_400x400.jpg">
              <p class="success-resume-header-3">Lorem Ipsump</p>
              <span class="success-resume-span-1">Lorem Ipsump</span><br>
              <label class="success-resume-sub-4">Hired at</label><br>
              <img class="success-resume-image-4" src="../assets/images/Spotify.png">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="success-resume-layout-1">
              <img class="success-resume-image-3" src="../assets/images/XpgonN0X_400x400.jpg">
              <p class="success-resume-header-3">Lorem Ipsump</p>
              <span class="success-resume-span-1">Lorem Ipsump</span><br>
              <label class="success-resume-sub-4">Hired at</label><br>
              <img class="success-resume-image-4" src="../assets/images/Spotify.png">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="success-resume-layout-1">
              <img class="success-resume-image-3" src="../assets/images/XpgonN0X_400x400.jpg">
              <p class="success-resume-header-3">Lorem Ipsump</p>
              <span class="success-resume-span-1">Lorem Ipsump</span><br>
              <label class="success-resume-sub-4">Hired at</label><br>
              <img class="success-resume-image-4" src="../assets/images/Spotify.png">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <p class="success-resume-sub-5"><a href="#">See more real resumes <span class="icon-arrow-bold-right"></span></a></p>
        </div>
        <div class="col-lg-3"></div>
      </div>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <p class="success-resume-header-4">They changed the world</p>
          <p class="success-resume-sub-6">Learn from famous resume examples</p>
        </div>
        <div class="col-lg-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-7">
          <h1 class="success-resume-header-5">From dishwasher to iconic Youtube filmmaker</h1>
          <p class="success-resume-sub-7">Every time he tries something new, Casey shows the importance of knowing why you do what you do. He also shows why success can be dangerous. His uniqie example of a filmmaker resume tells that story.</p>
          <p><input class="success-resume-button-1" type="submit" value="READ RESUME"></p>
          <p class="success-resume-sub-8"><span class="icon-arrow-bold-down"></span><a href="#"> Explore more resumes</a></p>
        </div>
        <div class="col-lg-5">
          <img class="success-resume-image-5" src="../assets/images/Resume/mark-zuckerberg-resume.jpg">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="success-resume-layout-2">
              <img class="success-resume-image-3" src="../assets/images/XpgonN0X_400x400.jpg">
              <p class="success-resume-header-6">Lorem Ipsump</p>
              <span class="success-resume-span-1">Lorem Ipsump</span><br>
              <label class="success-resume-sub-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </label><br>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="success-resume-layout-2">
              <img class="success-resume-image-3" src="../assets/images/XpgonN0X_400x400.jpg">
              <p class="success-resume-header-6">Lorem Ipsump</p>
              <span class="success-resume-span-1">Lorem Ipsump</span><br>
              <label class="success-resume-sub-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </label><br>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="success-resume-layout-2">
              <img class="success-resume-image-3" src="../assets/images/XpgonN0X_400x400.jpg">
              <p class="success-resume-header-6">Lorem Ipsump</p>
              <span class="success-resume-span-1">Lorem Ipsump</span><br>
              <label class="success-resume-sub-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </label><br>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="success-resume-layout-2">
              <img class="success-resume-image-3" src="../assets/images/XpgonN0X_400x400.jpg">
              <p class="success-resume-header-6">Lorem Ipsump</p>
              <span class="success-resume-span-1">Lorem Ipsump</span><br>
              <label class="success-resume-sub-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </label><br>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <p class="success-resume-sub-5"><a href="#">See more famous resumes <span class="icon-arrow-bold-right"></span></a></p>
          </div>
          <div class="col-lg-3"></div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-lg-6">
          <img class="success-resume-image-1" src="../assets/images/image-2.png">
        </div>
        <div class="col-lg-6">
          <h1 class="success-resume-header-7">Get more inspiration</h1>
          <p class="success-resume-sub-10">No spam, just information that will help you build a resume that makes you feel relevant and well represent.</p>
          <input class="success-resume-input-1 mr-2" type="email" placeholder="Email Address">
          <input class="success-resume-button-2" type="submit" value="SUBSCRIBE">
        </div>
      </div>
  </div>
<app-footer></app-footer>