<app-navbar></app-navbar>
<div>
  <div class="container">
    <div class="row my-5">
      <div class="col text-center">
        <h3 class="text-info">What do you want your resume to look like?</h3>
        <h6 class="text-muted">Scroll to view all styles and click to select a specific style.</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/8.jpg" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">Blueprint</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume1')">Create Resume</button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/9.jpg" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">Refined</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume2')">Create Resume</button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/5.jpg" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">Refined</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume3')">Create Resume</button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/16.jpg" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">Refined</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume4')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/1 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">1 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume5')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/2 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">2 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume6')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/8 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">8 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume7')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/20 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">20 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume8')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/9 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">9 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume9')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/29 PR_ResumeTemplate_New.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">29 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume10')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/24 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">24 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume11')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/30 PR_ResumeTemplate_New.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">30 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume12')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/28 PR_ResumeTemplate_New.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">28 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume13')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/23 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">23 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume14')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/11 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">11 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume15')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/10 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">10 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume16')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/26 PR_ResumeTemplate (1).PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">26 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume17')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/22 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">22 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume18')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/28 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">28 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume19')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/17 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">17 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume20')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/18 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">18 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume21')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/15 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">15 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume22')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="hover-effect">
          <img class="img-thumbnail" src="assets/images/Resume Templates/21 PR_ResumeTemplate.PNG" alt="">
          <div class="overlay">
            <div class="text-center action">
              <h4 class="text-white mb-3">21 PR_ResumeTemplate</h4>
              <button class="btn btn-info btn-lg" (click)="selectTemplate('resume23')">Create Resume</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
