<nav class="navbar navbar-expand-lg bg-light px-5 sticky" data-toggle="affix">
  <a routerLink="/home" routerLinkActive="active" class="navbar-brand">
    <img src="assets/images/resume builder-01.png" alt="" >
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="nav navbar-nav mr-auto">
          <li class="nav-item  px-2">
            <a  routerLink="/dashboard" routerLinkActive="active" class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item px-2">
            <a  routerLink="/resources" routerLinkActive="active" class="nav-link" href="#">Help</a>
          </li>
          <!-- <li class="nav-item px-2">
            <a routerLink="/pricing" routerLinkActive="active"  class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item px-2">
            <a routerLink="/login" routerLinkActive="active" class="nav-link" href="#">Sign In</a>
          </li>
          <li  class="nav-item px-2" >
              <button  routerLink="/templates" routerLinkActive="active" class="btn-info btn btn-lg px-4">Get Started</button>
          </li> -->
         
        </ul> 
        <ul class="nav navbar-nav navbar-right">
          <li (click)="gotoPricing()"><button class="btn navbar-btn btn-primary">Upgrade</button></li>
          <li><button class="btn btn-link navbar-btn navbar-btn-icon navbar-btn-notifications"> <i class="fa fa-bell"></i></button></li>
          <li class="nav-item dropdown">
              <a class="dropdown-toggle btn btn-link navbar-btn navbar-btn-icon navbar-btn-avatar" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                  <img class="avatar img-circle" width="40" height="40" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50" alt="DT">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a (click)="gotoAccount()" class="dropdown-item" >Account</a>
                <a (click)="gotoPricing()" class="dropdown-item" >Plans</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logOut()" >Logout</a>
              </div>
            </li>
        </ul>
  </div>
</nav>