<div class="document row row-eq-height" [style.background-color]=" onEdit ? '#DCDBE0' : '#FFF'" #document>
  <div class="col-sm-3 topall col-parent-left" style="background: #090909;color: white;text-align: center; border-right: 10px #FF9900 solid;">
    <div class="basic ">
      <div class="col-sm-12 col-child-left" style="margin-bottom: 30px; bottom: 14%;">
        <div class="col-sm-4"><img src="assets/images/Template10/icon-1.png" class="icons"></div>
        <p style="text-align: left; padding-left: 50px;" class="address editable" [innerHtml]="ResumeJson?.basic.address"></p>
      </div>
      <div class="col-sm-12 col-child-left" style="margin-bottom: 30px; bottom: 8%;">
        <div class="col-sm-4"><img src="assets/images/Template10/icon-2.png" class="icons"></div>
        <p style="text-align: left; padding-left: 50px;" class="email editable" [innerHtml]="ResumeJson?.basic.email"></p>
      </div>
      <div class="col-sm-12 col-child-left" style="bottom: 5%;">
        <div class="col-sm-4"><img src="assets/images/Template10/icon-3.png" class="icons"></div>
        <p style="text-align: left; padding-left: 50px;" class="phone editable" [innerHtml]="ResumeJson?.basic.phone"></p>
      </div>
    </div>
  </div>
  <div class="col-sm-9 left-txt topall content-container" style="color: black;">
    <div class="content">
      <div class="basic editable-container">
        <hr class="dash">
        <h2 style="color: #FF9900;" id="name" class="name editable" [innerHtml]="ResumeJson?.basic.name"></h2>
        <h4 class="editable jobtitle"><strong [innerHtml]="ResumeJson?.basic.jobtitle"></strong></h4>
        <!-- <p  class="editable description" >{{ResumeJson?.basic.description}}</p> -->
        <hr class="editable-item dash">
      </div>
      <div class="professionalSummary editable-container" *ngIf="ResumeJson?.professionalSummary">
        <div class="editable-item">
          <div class="editable-toolbar" *ngIf="currentSectionEditing === 'professionalSummary'">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-secondary ">
                Add
              </label>
              <label (click)="deleteSection()" class="btn btn-danger">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </label>
            </div>
          </div>
          <h4 style="color: #FF9900;" class="editable title"><strong [innerHtml]="ResumeJson?.professionalSummary.title"></strong></h4>
        </div>
        <p [attr.data-index]="i" class="editable-item editable summary" *ngFor="let summary of ResumeJson?.professionalSummary.professionalSummary; let i = index" [innerHtml]="summary"></p>
        <div class="editable-item">
          <hr class="editable-item dash">
        </div>
      </div>

      <!-- <div class="objective editable-container-container"  *ngIf="ResumeJson?.objective">
                    <h4 style="color: #FF9900;"><strong>OBJECTIVES</strong></h4>
                    <ul>
                        <li *ngFor="let objective of ResumeJson?.objective" >{{objective}}</li>
                    </ul>
                    <hr class="dash">
            </div> -->

      <div class="education editable-container" *ngIf="ResumeJson?.education">
        <div class="editable-item">
          <div class="editable-toolbar" *ngIf="currentSectionEditing === 'education'">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-secondary ">
                Add
              </label>
              <label (click)="deleteSection()" class="btn btn-danger">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </label>
            </div>
          </div>
          <h4 style="color: #FF9900;" class="editable title"><strong [innerHtml]="ResumeJson?.education.title"></strong></h4>
        </div>
        <div [attr.data-index]="i" class="editable-item" *ngFor="let education of ResumeJson?.education.education; let i = index">
          <strong><span class="editable year" [innerHtml]="education.year"></span><span style="float: right;" class="editable school" [innerHtml]="education.school"></span></strong>
          <p><span class="editable info1" [innerHtml]="education.info1"></span></p>
        </div>
        <hr class="editable-item dash">
      </div>

      <div class="editable-container experience" *ngIf="ResumeJson?.experience">
        <div class="editable-item">
          <div class="editable-toolbar" [style.display]="currentSectionEditing === 'experience' ? 'block' : 'none'">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-secondary ">
                Add
              </label>
              <label (click)="deleteSection()" class="btn btn-danger">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </label>
            </div>
          </div>
          <h4 class="editable title" style="color: #FF9900;"><strong [innerHtml]="ResumeJson?.experience.title"></strong></h4>
        </div>
        <div [attr.data-index]="i" class="editable-item" *ngFor="let experience of ResumeJson?.experience.experience ; let i = index">
          <strong><span class="editable company" [innerHtml]="experience.company"> </span><span clas="editable" class="date"
              style="float: right;" [innerHtml]="experience.date"></span></strong>
          <!-- <p><span class="editable company" >{{experience.company}}</span> <span style="float: right;">MICHIGAN, MI</span></p> -->
          <p *ngFor="let desc of experience.desc" class="editable desc-{{i}}" [innerHtml]="desc"></p>
          <hr class="dash">
        </div>
      </div>
      <div class="skills editable-container" *ngIf="ResumeJson?.skills">
        <div class="editable-item">
          <div class="editable-toolbar" [style.display]="currentSectionEditing === 'skills' ? 'block' : 'none'">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-secondary ">
                Add
              </label>
              <label (click)="deleteSection()" class="btn btn-danger">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </label>
            </div>
          </div>
          <h4 style="color: #FF9900;" class="editable title"><strong [innerHtml]="ResumeJson?.skills.title"></strong></h4>
        </div>
        <p [attr.data-index]="i" *ngFor="let skill of ResumeJson?.skills.skills; let i = index" class="editable editable-item m-0 skill">{{skill}}</p>
      </div>
      <div class="references editable-container" *ngIf="ResumeJson?.references">
        <div class="editable-item">
                <div class="editable-toolbar" *ngIf="currentSectionEditing === 'references'">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-secondary ">
                      Add
                    </label>
                    <label (click)="deleteSection()" class="btn btn-danger">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <h4 style="color: #FF9900;" class="editable title"><strong [innerHtml]="ResumeJson?.references.title"></strong></h4>
              </div>
        <div [attr.data-index]="i" class="editable-item" *ngFor="let reference of ResumeJson?.references.references; let i = index">
          <p class="editable name m-0"><strong [innerHtml]="reference.name"></strong></p>
          <p class="editable contactNumber m-0" [innerHtml]="reference.contactNumber"></p>
          <p class="editable address" [innerHtml]="reference.address"></p>
        </div>
      </div>

      <!-- <div *ngIf="ResumeJson?.experience" class="experience editable-container">
                <div class="editable-item">
                    <h4 style="color: #FF9900;"><strong [innerHtml]="ResumeJson?.experience.title" ></strong></h4>
                </div>
                <div [attr.data-index]="i" class="editable-item" *ngFor="let experience of ResumeJson?.experience.experience ; let i = index">
                        <strong><span>SALES AND MARKETING DIRECTOR</span><span style="float: right;">2011 - 2013</span></strong>
                        <p *ngFor="let desc of experience.desc" class="editable desc-{{i}}" [innerHTML]="desc"> </p>             
                        <hr class="dash">
                </div>
                
            </div> -->


      <!-- <h4 style="color: #FF9900;"><strong>OBJECTIVES</strong></h4>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
            </ul>
            <hr class="dash">
    
            <h4 style="color: #FF9900;"><strong>EXPIRIENCE</strong></h4>
            <strong>SALES AND MARKETING DIRECTOR<span style="float: right;">2011 - 2013</span></strong>
            <p>GREAT COMPANY <span style="float: right;">MICHIGAN, MI</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur</p>
            <strong>MARKETING MANAGER<span style="float: right;">2011 - 2013</span></strong>
            <p>AWESOME COMPANY <span style="float: right;">MICHIGAN, MI</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit amet, consectetur</p>
            <hr class="dash">
    
            <h4 style="color: #FF9900;"><strong>EDUCATION</strong></h4>
    
            <strong>2005<span style="float: right;">MICHIGAN STATE UNIVERSITY</span></strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing<span style="float: right;">MICHIGAN, MI</span></p>
            <strong>SALES AND MARKETING DIRECTOR<span style="float: right;">BATAVIA HIGH SCHOOL</span></strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing<span style="float: right;">BATAVIA, MI</span></p>
            <hr class="dash">
    
            <h4 style="color: #FF9900;"><strong>CAREER SKILLS</strong></h4>
            <p>Pellentesque</p>
            <p>Pellentesque porttitor</p>
            <p>Cras non magna</p>
            <p>Vivamus ami</p>
            <p>Morbi neque</p>
            <p>Aliquameratvolutpat</p>
            <p>Integerultrices</p>
            <p>Pellentesque habitant</p>
            <p>Etiamatligula et tellusullamcorper</p>
            <p>Ulticesn ferme ntum, lorem non cursus porttitor</p> -->
    </div>
  </div>
</div>
<br>
