<div class="document row row-eq-height m-0">
  <div class="container">
    <div class="resume-container">
      <section class="top-section">
        <div class="row">
          <div class="col-12">
            <h4 class="header-title text-white m-0 p-0 text-right">
              RESUME
            </h4>
          </div>
        </div>
      </section>
      <!--END OF TOP SECTION-->
      <section class="profile-image basic">
        <div class="row">
          <div class="col-12">
            <div class="image-container">
              <img style="width: 130px; height: 130px;border-radius: 50%;" data-toggle="modal" data-target="#exampleModalCenter2"
                class="profile" [src]="ResumeJson?.basic.profile ? ResumeJson?.basic.profile : 'assets/images/Resume/profile-placeholder.jpg'" />
            </div>
          </div>
        </div>
      </section>
      <!--END OF PROFILE IMAGE-->
      <section class="body-content">
        <div class="row">
          <div class="col-7">
            <div class="profile-info ">
              <div class="profile-name basic">
                <h1 class="editable name" [innerHtml]="ResumeJson?.basic.name"></h1>
              </div>
              <div class="profile-position basic">
                <h3 class="black-text editable jobtitle" [innerHtml]="ResumeJson?.basic.jobtitle"></h3>
              </div>

              <div class="editable-container professionalSummary" editable-container professionalSummary>
                <div class="profile-desc summary editable-item editable" *ngFor="let summary of ResumeJson?.professionalSummary.professionalSummary"
                  [innerHtml]="summary">
                </div>
              </div>
            </div>


            <div class="info-container skills editable-container" *ngIf="ResumeJson?.skills">

              <div class="editable-item">
                <div class="editable-toolbar" *ngIf="currentSectionEditing === 'skills'">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-secondary ">
                      Add
                    </label>
                    <label (click)="deleteSection()" class="btn btn-danger">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </label>

                  </div>
                </div>
                <div class="info-title">
                  <h3 class="editable title" [innerHtml]="ResumeJson?.skills.title"></h3>
                </div>
              </div>

              <div class="info-details editable-item" *ngFor="let skill of ResumeJson?.skills.skills">
                <ul>
                  <li class="editable skill" [innerHtml]="skill"></li>
                </ul>
              </div>
            </div>




            <div class="info-container references editable-container" *ngIf="ResumeJson?.references">
              <div class="editable-item">
                <div class="editable-toolbar" *ngIf="currentSectionEditing === 'references'">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-secondary ">
                      Add References
                    </label>
                    <label (click)="deleteSection()" class="btn btn-danger">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </label>

                  </div>
                </div>
                <div class="info-title">
                  <h3 class="editable title" [innerHtml]="ResumeJson?.references.title">STRENGTHS</h3>
                </div>
              </div>
              <div class="info-details editable-item" *ngFor="let reference of ResumeJson?.references.references">
                <p style="padding: 0 20px;" class="editable name"><strong [innerHtml]="reference.name"></strong></p>
                <p style="padding: 0 20px;" class="editable contactNumber" [innerHtml]="reference.contactNumber"></p>
                <p style="padding: 0 20px;" class="editable address" [innerHtml]="reference.address"></p>
              </div>
            </div>
            <!-- <div class="info-container">
              <div class="info-title">
                <h3>STRENGTHS</h3>
              </div>
              <div class="info-details">
                <ul>
                  <li>Creativity</li>
                  <li>Reliable</li>
                  <li>Communication</li>
                  <li>Team player</li>
                  <li>CSS/HTML </li>
                  <li>Leadership </li>
                </ul>
              </div>
            </div> -->
          </div>
          <!--END OF COL-8-->
          <div class="col-5">
            <div class="right-container text-right">
              <div class="info-container">
                <div class="info-title">
                  <h3>GET IN TOUCH</h3>
                </div>
                <div class="info-details basic">
                  <ul>
                    <li class="editable phone" [innerHtml]="ResumeJson?.basic.phone"><span class="icon"><i class="fa fa-mobile"></i></span></li>
                    <li class="editable email" [innerHtml]="ResumeJson?.basic.email"><span class="icon"><i class="fa fa-envelope"></i></span></li>
                    <li class="editable address" [innerHtml]="ResumeJson?.basic.address"><span class="icon"><i class="fa fa-globe"></i></span></li>
                  </ul>
                </div>
              </div>
              <div class="info-container editable-container experience" *ngIf="ResumeJson?.experience"
                dnd-sortable-container [sortableData]="ResumeJson?.experience.experience">
                <div class="editable-item">
                  <div class="editable-toolbar" *ngIf="currentSectionEditing === 'experience'">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-secondary ">
                        Add
                      </label>
                      <label (click)="deleteSection()" class="btn btn-danger">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </label>
                    </div>
                  </div>
                  <div class="info-title">
                    <h3 class="editable title" [innerHtml]="ResumeJson?.experience.title"></h3>
                    <span class="icon"><i class="fa fa-briefcase"></i></span>
                  </div>
                </div>
                <div class="editable-item" *ngFor="let experience of ResumeJson?.experience.experience ; let i = index"
                  dnd-sortable [sortableIndex]="i">
                  <div class="info-details">
                    <div class="job-title editable company" [innerHtml]="experience.company">
                    </div>
                    <div class="job-position with-green-color">
                      Web & Graphic Designer
                    </div>
                    <div class="job-desc editable desc-{{i}}" *ngFor="let desc of experience.desc" [innerHtml]="desc">
                    </div>
                    <div class="years">
                      <p><span class="with-green-color date editable" [innerHtml]="experience.date"></span></p>
                    </div>
                  </div>
                </div>
              </div>
              <!--END OF 2ND INFO CONTAINER-->
              <div class="info-container editable-container education" *ngIf="ResumeJson?.education">
                <div class="editable-item">
                  <div class="editable-toolbar" *ngIf="currentSectionEditing === 'education'">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-secondary ">
                        Add
                      </label>
                      <label (click)="deleteSection()" class="btn btn-danger">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </label>
                    </div>
                  </div>
                  <div class="info-title">
                    <h3 class="title editable" [innerHtml]="ResumeJson?.education.title"></h3>
                    <span class="icon"><i class="fa fa-graduation-cap"></i></span>
                  </div>
                </div>
                <div *ngFor="let education of ResumeJson?.education.education" class="editable-item info-details">
                  <div class="job-title">
                    GRAPHIC DESIGN - B.A.
                  </div>
                  <div class="job-position with-green-color editable school" [innerHtml]="education.school">
                  </div>
                  <div class="job-desc editable info1" [innerHtml]="education.info1">
                  </div>
                  <div class="years">
                    <p><span class="with-green-color editable year" [innerHtml]="education.year"></span></p>
                  </div>
                </div>
              </div>
              <!--END OF 3RD INFO CONTAINER-->
            </div>
            <!--END OF RIGHT -CONTAINER-->
          </div>
          <!--END OF COL 4-->
        </div>
        <!--END OF ROW-->
      </section>
      <!--END OF BODY CONTENT-->
      <footer class="footer">
        <div class="transparent-circle"></div>
      </footer>
    </div>
    <!--END OF RESUME CONTAINER-->
  </div>
  <!--END OF CONTAINER-->
</div>
