<app-navbar></app-navbar> 
        <div class="row text-center my-5 sec-1">
        <div class="col">
            <h1 class="">A resume to be proud of</h1>
            <p class="homepage-content-sub-1 lead">Stand out and make sure the key things come across</p>
            
                <button routerLink="/templates" class="btn-info btn py-3 px-5">CREATE RESUME</button>
        
        </div>
        </div>
        <div class="row sec-2">
        </div>
        <div class="container">
        <div class="row sec-3 text-center my-5">
            <div class="col">
                <ul class="px-0" >
                    <li class="homepage-content-item-1 p-4"><img class="homepage-content-item-1" height="150" width="200" src="assets/images/homepage-tesla.png" alt="Tesla">
                    </li><li class="homepage-content-item-1 p-4"><img  src="assets/images/homepage-google.png" alt="Google"></li>
                    <li class="homepage-content-item-1 p-4"><img src="assets/images/homepage-facebook.png" alt="Facebook"></li>
                    <li class="homepage-content-item-1 p-4"><img  src="assets/images/spotify.095e3761.svg" alt="Spotify"></li>
                    <li class="homepage-content-item-1 p-4"><img  src="assets/images/homepage-gray.png" alt="Gray Area"></li>
                    <p class="homepage-content-sub-2 p-4">Our users got noticed and hired by their top choice companies - read more about their journey to the perfect job <strong><span style="color:#0875BD; font-weight: 600;"><a href="#">here.</a></span></strong></p>
                </ul>
            </div>
        </div>
        <div class="row sec-4">
            <div class="col-md-6 pr-5">
                <h1 class="homepage-content-header-2">A resume that simply stands out</h1>
                <p class="homepage-content-sub-3 mt-3">90% of applicants use a word-editing software and traditional templates. Don't rely on a bland resume - get the recruiter's attention with a visually appealing format.</p>
                <p class="mt-5"><a class=" homepage-content-sub-4" href="#">Build a modern resume &nbsp;→ </a></p>
            </div>
            <div class="col-md-6">
                <div class="resume-image">
                <img  src="assets/images/homepage-image-4.png">
                </div>
            </div>  
        </div>
        <div class="row sec-5">

            <div class="col-md-6">
                <div class="resume-image">
                <img  src="assets/images/homepage-image-2.jpg">
                </div>
            </div>
            <div class="col-md-6 pl-5">
                <h1 class="homepage-content-header-2">Put your achievements in the spotlight</h1>
                <p class="homepage-content-sub-3 mt-3">With most resumes, the key things don't come across. Bring your most important accomplishements forward and show what you're capable of achieving.</p>
                <p class="mt-5"><a class="homepage-content-sub-4" href="#">Show them what you have to offer &nbsp;→</a></p>
            </div>
            
        
        </div>
        <div class="row sec-6 my-5">
            <div class="col-md-6 pr-5">
                <h1 class="homepage-content-header-2">Building a resume shouldn't be frustrating</h1>
                <p class="homepage-content-sub-3 mt-3">With Enhacv, editing your resume is easy. Just focus on the content and let us take care of the formatting.</p>
                <p class="mt-5"><a class=" homepage-content-sub-4" href="#">See it in action with our free trial &nbsp;→ </a></p>
            </div>
            <div class="col-md-6">
                <div class="resume-image">
                <img  src="assets/images/homepage-image-3.png">
                </div>
            </div>  
        </div>
        <div class="row sec-7 text-center mt-5">
            <div class="col-lg-3" >
                <img src="assets/images/homepage-icon-1.png" height="50" width="50">
                <h3 >Simple editing</h3>
                <div >
                    <p class="text-muted">Make changes straight on the page and see a preview of the resume without downloading it.</p>
                </div>
            </div>
            <div class="col-lg-3" >
                <img src="assets/images/homepage-icon-2.png" height="50" width="50">
                <h3 class="mt-2">No learning curve</h3>
                <div >
                    <p class="text-muted">Each step of building your resume is so natural, you don't have to figure things out on your own.</p>
                </div>
            </div>
            <div class="col-lg-3" >
                <img src="assets/images/homepage-icon-3.png" height="50" width="50">
                <h3>Balance the personal and the professional</h3>
                <div style="margin-bottom: 30px;">
                    <p class="text-muted">Showcase personal strengths and key drivers in addition to your skills to demonstrate culture fit.</p>
                </div>
            </div>
            <div class="col-lg-3" >
                <img src="assets/images/homepage-icon-4.png" height="50" width="50">
                <h3>A memorable resume</h3>
                <div >
                    <p class="text-muted">The distinct visual style will make people remember you and the key things about you, even in a pile of resumes.</p>
                </div>
            </div>
        </div>

        </div>

        <div class="row text-center sec-8 my-5">
        <div class="col action">
            <h1 class="homepage-content-header-3">Not happy with your current resume?</h1>
            <button >TRY FREE FOR 14 DAYS</button>
        </div>
        </div>
        
<app-footer></app-footer>

