<div class="row">
  <div class="col-md-6 p-3">
      <div class="hover-effect m-5">
          <img class="img-thumbnail" [src]="templatePreviewimage" alt="">
          <div class="overlay">
            <div class="text-center action">
              <!-- <h4 class="text-white mb-3">Blueprint</h4> -->
             <button class="btn btn-info btn-lg" (click)="continueEditing()">Continue Editing</button>
            </div>
          </div>
      </div>
  </div>
  <div class="col-md-6">

  </div>
</div>