border {
  border: 1px;
  color: #B2D234;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.resume-container {
  width: 100%;
  max-width: 210mm;
  margin: 0 auto;
  // height: 297mm;
  // border: 2px solid #CDCDCD;
  position: relative;
}

.top-container {
  padding: 50px;
}

.top-container .name1 {
  color: #B2D234;
  line-height: 1;
  font-weight: 700;
  font-size: 50px;
  margin: 0;
}

.top-container .position {
  color: #808182;
}

.top-container .resume-text {
  position: absolute;
  right: 0;
  width: 240px;
  top: 50px;
  padding-left: 30px;
  margin: 0;
  padding: 7px 0 7px 50px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 2px;
  color: #B2D234;
  background-color: #F7FAEA;
}

.green-bar {
  height: 10px;
  padding: 0;
  width: 100%;
  background-color: #B2D234;
  margin-bottom: 5px;
  display: block;
  box-sizing: content-box;
}

.get-in-touch {
  background-color: #B2D234;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0px 10px 50px;
}

.profile-image-container {
  position: absolute;
  right: 60px;
  top: -80px;
  max-width: 100%;
  width: 180px;
  background-color: #fff;
  height: 190px;
  border: 10px solid #B2D234;
}

.contact-list {
  width: 550px;
  padding: 15px 20px 15px 50px;
  max-width: 100%;
}

.contacts {
  padding: 0;
  list-style: none;
  column-count: 3;
  font-size: 10px;
}

.contacts .items {
  width: 100%;
  margin-bottom: 5px;
  display: initial;
  vertical-align: bottom;
  flex: 0 33.33333%;
}

.contacts .items a {
  text-decoration: underline;
  color: #0D0DFF;
}

.contacts .items .fa {
  background-color: #B2D234;
  width: 20px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  height: 20px;
  border-radius: 50%;
}

.contacts .items .fa:before {
  margin-right: 2px;
}

.about-me {
  padding: 30px 50px;
  background-color: #F7FAEA;
  margin-top: 10px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.about-me-title {
  width: 90px;
  text-align: center;
  transform: rotate(-90deg);
  margin-right: -40px;
  color: #5F5F61;
  font-weight: 600;
  font-size: 14px;
}

.about-me-desc {
  font-size: 10px;
  flex: 1;
}

.left-container .info {
  color: #000;
  // padding-left: 50px;
}

.info-title {
  font-weight: 600;
  letter-spacing: 1px;
}

.year1 {
  background-color: #F7FAEA;
  max-width: 175px;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
}

.info-details {
  padding-bottom: 15px;
  min-height: 78px;
}

.info-details p {
  margin-bottom: 0px;
  line-height: 1.2;
  font-size: 14px;
}

.detail-title {
  font-size: 16px;
  font-weight: 600;
  color: #5A5A5D;
}

.info-details .detail-desc {
  color: #5A5A5D;
  font-size: 12px;
}

.info-details .skills .item {
  list-style-position: inside;
  line-height: 1.2;
  font-size: 10px;
}

.skills {
  margin-top: 10px;
}

.right-container .info {
  padding-right: 50px;
}

.right-container .year1 {
  margin-left: auto;
}

.right-container .skills {
  direction: rtl;
}

.info-container div:last-child .info-details,
.info-container:last-child .info-details:last-child {
  padding-bottom: 0;
}
