<app-navbar></app-navbar>  
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-6">
        <img class="resources-img-w9" src="../assets/images/content/worksheet_preview_up@2x-ec90486252c09feb83e4d607a5502c52-1d92c.png" alt="">
      </div>
      <div class="col-lg-6">
        <h1 class="resources-content-header-1">Learning Through Struggles</h1>
        <p class="resources-content-sub-1">Struggles shape our skills and who we are. Explore this question to learn more about yourself and what you should be proud of.</p>
        <button type="button" class="btn btn-info">DOWNLOAD FOR FREE</button>
      </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-7">
          <h1 class="resources-content-sub-1">How this is helpful?</h1>
          <p>Understand how struggles have shaped your skills</p>
          <p>Learn about how and why struggles are often at the core of our successes.</p>
          <h1 class="resources-content-sub-1">Discover your strengths</h1>
          <p>Take those insights and use them to discover new strengths.</p>
          <h1 class="resources-content-sub-1">Understand how to use those strengths in your resume</h1>
          <p>Apply these learnings to create a resume that’s more honest and impactful.</p>
        </div>
        <div class="col-lg-5">
          <img class="resources-img-w9" src="../assets/images/content/ladder@2-d44f0a53d6ff2914bba2a924038a1bea-66d17.png" alt="">
        </div>
      </div>
      <div class="row mt-5">
          <div class="col-lg-6">
            <img class="resources-img-w6 mt-1 img-people" src="../assets/images/content/people.png" alt="">
          </div>
          <div class="col-lg-6">
            <h1 class="resources-content-header-1">Who is this good for?</h1>
            <p class="resources-content-sub-1">Anyone who’ d like to explore their own life struggles to better understand what strengths and skills they can apply to their next job.</p>
            <button type="button" class="btn btn-info">DOWNLOAD FOR FREE</button>
          </div>
      </div>
      <div class="row mt-5">
          <div class="col-lg-6">
            <h1 class="resources-content-header-1">Discover Your Definition of Success</h1>
            <p class="resources-content-sub-1">When it comes to success, the reason “why” you define something as success is fundamental. Understanding your reason why can help you make better decisions, find more satisfaction, and ultimately be truly successful.</p>
            <button type="button" class="btn btn-info">TRY IT FOR YOURSELF</button>
          </div>
          <div class="col-lg-6">
            <img class="resources-img-w9" src="../assets/images/content/worksheet_bg_illustration.png" alt="">
          </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <h1 class="resources-content-header-2 text-center">Get more inspiration & free resources</h1>
          <p class="resources-content-sub-3 mt-2">No spam, just information that will help you build a resume that makes you feel relevant and well represented.</p>
          <div class="text-center">
            <input class="resources-content-input-1 mr-2 input-email" type="email" placeholder="Email Address">
            <input class="resources-content-button-2 input-btn" type="submit" value="SUBSCRIBE">
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
  </div>
<app-footer></app-footer>