.sec-1{
    img{
        height: 40px;
    }
    ul{
        list-style: none;
        li{
            p{
                display: inline;
            }
        }
    }
}

.bg-grey{
    background-color: #FBFAFD;
    min-height: 85vh;
}